{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator</title>
</head>

<body>
    <div>
        <h1 style="text-align: center; background-color: aqua; " class="form-control">Calculator</h1>
    </div>
    <br>
    <div class="cal_form">
        <form method="POST">
            {% csrf_token %}
            <label for="" style="margin-left: 20px;">Value 1: </label>
            <input type="text" name="num1" style="width: 50%; margin-left: 12vh;" >
            <br><br>
            <label style="margin-left: 20px;">Select Operator:</label>
            <select name="opr" style="margin-left: 12vh; width: 10vh; height: 5vh;">
                <option value="+">+</option>
                <option value="-">-</option>
                <option value="*">*</option>
                <option value="/">/</option>
            </select>
            <br><br>
            <label for="" style="margin-left: 20px;">Value 2: </label>
            <input type="text" name="num2" style="width: 50%; margin-left: 12vh;" >
            <br><br>
            <button type="submit"
                style="font-weight: bold; margin-left: 12vh; font-size: 20px; background-color: #DC143C; padding: 5px 5px 5px 5px; color: white;">Calculate</button>
            <br><br>
            <label style="margin-left: 20px;">Output:</label>

            <input type="text" name="output" style="width: 50%; margin-left: 12vh;" value="{{output}}">
        </form>
    </div>

</body>

</html>
{% endblock %}