{% extends "base.html" %}


  {% block content %}
  <main>
        <section class="firstsection">
            <div class="leftsection">
                <p style="font-style: italic;">Web Developer</p>
                <h1>Hi, I am <span> Hassan Saeed </span></h1>
                <div class="q">
                    <q>
                        I am skilled in web and mobile app development, with expertise in HTML, CSS, 
                        JavaScript, Python, Django, and Java. I excel at creating user-friendly, 
                        responsive designs and robust back-end solutions, ensuring seamless user 
                        experiences and efficient database management.
                    </q>
                </div>
                <div class="btn-box">
                    <a href="./resume/Hassan_Software_Resume.pdf" target="_blank">Hire Me</a>
                    <a href="#">Let's Talk</a>
                </div>
                <div class="home-icon">
                    <a href="https://www.linkedin.com/in/hassan-saeed25" target="_blank"><i
                            class='bx bxl-linkedin'></i></a>
                    <a href="https://github.com/Hassan25220" target="_blank"><i class='bx bxl-github'></i></a>
                    <a href="#" target="_blank"><i class='bx bxl-twitter'></i></a>
                </div>
            </div>
            <div class="rightsection">
                <img src="/static/Images/background.png" width="93%">
            </div>
        </section>
    </main>
   

 

    {% endblock %}