{% extends "base.html" %}

{% block content %}
<!------------------- Projects ------------------------->
   <div id="projects">
    <div class="contanier">
        <h2 class="sub-title">My Projects</h2>
        <div class="work-list">
            <div class="work">
                <img src="/static/Images/mywork-seo.jpg">
                <div class="layer">
                    <h3>Website Ranking</h3>
                    <p>I was ranked BlueDigitalPixel website by using my SEO techniques.
                        Check my content by click here.</p>
                    <a href="#"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
            </div>
            <div class="work">
                <img src="/static/Images/mywork-web.jpg">
                <div class="layer">
                    <h3>Web Development</h3>
                    <p>Created a Printing Press Website for client
                        Check my content by click here.</p>
                    <a href="#"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
            </div>
            <div class="work">
                <img src="/static/Images/mywork-app.jpg">
                <div class="layer">
                    <h3>App Development</h3>
                    <p>Created a Meet Medi (Medical App) for my portfolio.
                        Check my content by click here.</p>
                    <a href="#"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
            </div>
        </div>
        <a href="#" class="btn">SEE MORE</a>
    </div>
</div>
{% endblock %}