 {% extends "base.html" %}
 {% block content %}
 <!--------------------- Services ----------------------->
 <div id="services">
    <div class="contanier">
        <h2 class="sub-title">My Services</h2>
        <div class="services-list">
            <div>
                <i class="fa-solid fa-ranking-star"></i>
                <h2>Search Engine Optimization</h2>
                <p>Enhance online visibility through proficient SEO strategies, encompassing both on-page and
                    off-page techniques. Implement technical optimizations to improve website performance and user
                    experience, while crafting compelling content to engage and attract target audiences.</p>
                <a href="#">Learn More</a>
            </div>
            <div>
                <i class="fa-solid fa-crop-simple"></i>
                <h2>Web Development / Wordpress Development</h2>
                <p>Proficiently create dynamic and responsive websites, employing a range of technologies.
                    Specialize in Wordpress to develop versatile and user-friendly web solutions, ensuring seamless
                    navigation and engaging user interfaces for optimal online experiences.</p>
                <a href="#">Learn More</a>
            </div>
            <div>
                <i class="fa-brands fa-app-store"></i>
                <h2>App Development</h2>
                <p>Expertly design and develop cross-platform mobile applications for Android and iOS devices.
                    Utilize industry-leading tools and languages to create intuitive and feature-rich apps that
                    provide seamless user interactions, enhanced usability, and efficient performance across
                    platforms.</p>
                <a href="#">Learn More</a>
            </div>

        </div>
    </div>

</div>
{% endblock %}